@media (max-width: 768px) {
  .project-tech-list {
    display: flex;
    flex-direction: column;
  }
}

.work {
  padding: 200px 20px;
  background: rgb(222, 195, 184);
}
.overall {
  padding: 150px 20px;
  background: rgb(222, 195, 184);
}
.first-heading {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
  border-radius: 500px;
  width: 300px;
}
.heading {
  font-size: 40px;
}
.things {
  padding-top: 85px;
}

p {
  font-size: 20px;
}
.social-links {
  gap: 10px;
}

.picture img,
.nails1,
.nails2,
.nails3,
.nails4,
.nails5 {
  width: 900px;
}
.contact-list {
  list-style: none;
}

.nail,
.eyelash {
  text-decoration: underline;
}
h2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

h1 {
  font-size: 50px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.para {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.director,
.whole-body,
.navbar {
  background: rgb(222, 195, 184);
}

.paragraph-training {
  font-size: 15px;
}

a {
  text-decoration: none;
  color: white;
}

.est {
  font-size: 17px;
}

.aboutus {
  background: url(https://cdn.wallpapersafari.com/43/97/u4bhmj.jpg);
  color: rgb(222, 195, 184);
}

.contact-container {
  background: black;
  color: white;
}
.service-page,
button {
  background: black;
  color: rgb(222, 195, 184);
}
.nav-serv {
  color: blue;
}
.serv-bar {
  background: rgb(222, 195, 184);
}

.head,
.subhead {
  color: rgb(222, 195, 184);
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.logo img {
  height: 79px;
  width: 75px;
  object-fit: cover;
}
.contact {
  background: rgb(222, 195, 184);
  color: black;
}
.inputBox {
  width: 100%;
  display: inline-block;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 10px;
  padding-left: 0px;
  border-radius: 1px solid black;
}
@media (max-width: 500px) {
  .p-qkx7611 {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .p-m1y8357 {
    width: 100%;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
  }
}

@media (max-width: 500px) {
  .p-23y5251 {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .p-flp86 {
    width: 100%;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
  }
}
