@media (max-width: 768px) {
  .project-tech-list {
    display: flex;
    flex-direction: column;
  }
}

.work,
.overall {
  padding: 200px 20px;
  background: url(https://png.pngtree.com/back_origin_pic/04/61/98/72d98d45666a92b32183325c4f93d874.jpg);
}

li {
  list-style-type: none;
}
.first-heading {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
  border-radius: 20px;
  width: 300px;
}

.things {
  padding-top: 85px;
}

p {
  font-size: 20px;
}

.picture img,
.nails1,
.nails2,
.nails3,
.nails4 {
  width: 900px;
}

h1 {
  font-size: 50px;
}

.para {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.director,
.whole-body {
  background: pink;
}

.paragraph-training {
  font-size: 15px;
}

a {
  text-decoration: none;
  color: white;
}

.est {
  font-size: 17px;
}

.aboutus {
  background: url(https://cdn.wallpapersafari.com/43/97/u4bhmj.jpg);
  color: pink;
}

.contact-container {
  background: black;
  color: white;
}
.service-page {
  background: black;
  color: pink;
}
.nav-serv {
  color: blue;
}
.serv-bar {
  background: pink;
}

.head,
.subhead,
.contact {
  color: pink;
}

.picture {
  width: 500px;
}
.p-qkx7611 {
  width: 50%;
  display: inline-block;
  padding-top: px;
  padding-right: px;
  padding-bottom: 10px;
  padding-left: px;
}
@media (max-width: 500px) {
  .p-qkx7611 {
    width: 100%;
  }
}

.p-m1y8357 {
  width: 50%;
  display: inline-block;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 10px;
  padding-left: 20px;
}
@media (max-width: 500px) {
  .p-m1y8357 {
    width: 100%;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
  }
}

.p-23y5251 {
  width: 50%;
  display: inline-block;
  padding-top: px;
  padding-right: px;
  padding-bottom: 10px;
  padding-left: px;
}
@media (max-width: 500px) {
  .p-23y5251 {
    width: 100%;
  }
}

.p-flp86 {
  width: 50%;
  display: inline-block;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 10px;
  padding-left: 20px;
}
@media (max-width: 500px) {
  .p-flp86 {
    width: 100%;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
  }
}

.p-qfz8277 {
  width: 100%;
  display: inline-block;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 10px;
  padding-left: 0px;
}
